<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.votingmachine.votingmachine20">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingMachine20">
        <activity
            android:name=".HelpSection"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RaiseTicket"
            android:forceDarkAllowed = "true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ResultDeclaration"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:exported="false" />
        <activity
            android:name=".VotingBooth"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PanelInfoForVoting"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Publish"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VoterList"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PanelInformation"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ParticipantActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ResultsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7329767452096125~9015080045"/>
    </application>

</manifest>